<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href={{ url_for("static", filename="style.css") }} />

</head>
<body>
    <h1>калькулятор опыта fortnite </h1> 
    <form  method="post">
        <table border=1>
            <tr>
                <td>нужный уровень ☠️</td>
                <td><input type="number" name = "level" required></td>
                <td><button type='submit'>Отправить запрос 👆</button></td>
            </tr>
            <tr>
                <td>результат 💀</td>
                <td>{{result}}</td>
                <td>   </td>
            </tr>
        </table>
    </form>
    <table border="1">
        <tr>
            <td>lvl</td>
            <td>xp</td>
            <td>total xp</td>
        </tr>
        <tr>
            <td>1 → 2</td>
            <td>80,000</td>
            <td>80,000</td>
        </tr>
        <tr>
            <td>2→3</td>
            <td>80,000</td>
            <td>160,000</td>
        </tr>
        <tr>
            <td>3→4</td>
            <td>80,000</td>
            <td>240,000</td>
        </tr>
        <tr>
            <td>4 → 5</td>
            <td>80,000</td>
            <td>360,000</td>
        </tr>
        <tr>
            <td>5 → 6</td>
            <td>80,000</td>
            <td>400,000</td>
        </tr>
        <tr>
            <td>6 → 7</td>
            <td>80,000</td>
            <td>480,000</td>
        </tr>
        <tr>
            <td>7 → 8</td>
            <td>80,000</td>
            <td>560,000</td>
        </tr>
        <tr>
            <td>8 → 9</td>
            <td>80,000</td>
            <td>640,000</td>
        </tr>
        <tr>
            <td>9 → 10</td>
            <td>80,000</td>
            <td>720,000</td>
        </tr>
        <tr>
            <td>10 → 11</td>
            <td>80,000</td>
            <td>800,000</td>
        </tr>
    
    </table>
</body>
</html>